.unlock {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .unlock-content {
    display: flex;
   
    button.download-button {
      margin: 5px auto 0;
      background-color: transparent;
      border: 2px solid #52A8E0;
      border-radius: 35px;
      padding: 25px 100px;
      font-size: 1rem;
      font-weight: bold;
      width: max-content;
      display: block;
    }
    img {
      width: 50%;
      height: auto;
    }
    div {
      width: 50%;
      padding-left: 20px;
      margin-top: 10%;
      h1 {
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 50px;
        text-align: center;
      }
      p {
        font-size: 21px;
        line-height: 28px;
        font-weight: 400;
        text-align: center;
      }
      h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: center;
      }
      h3 {
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 10%;
      }
    }
  }
  
}

// Styles for screens smaller than 1200px (typical breakpoint for tablets)
@media (max-width: 1199px) {
  .unlock {
    flex-direction: column;

    .unlock-content {
      flex-direction: column;

      img {
        width: 100%;
      }

      div {
        width: 100%;
        padding-left: 0;

        h1 {
          font-size: 32px;
          line-height: 38px;
        }

        p {
          font-size: 18px;
          line-height: 24px;
        }

        h4 {
          font-size: 1.2rem;
        }

        h3 {
          font-size: 1.5rem;
        }

        button.download-button {
          padding: 25px 50px;
        }
      }
    }
  }
}

// Styles for screens smaller than 768px (typical breakpoint for mobile devices)
@media (max-width: 767px) {
  .unlock {
    padding: 10px;

    .unlock-content {
      div {
        h1 {
          font-size: 24px;
          line-height: 30px;
        }

        p {
          font-size: 16px;
          line-height: 22px;
        }

        h4 {
          font-size: 1rem;
        }

        h3 {
          font-size: 1.2rem;
        }

        button.download-button {
          padding: 25px 20px;
        }
      }
    }
  }
}
