button {
    margin: 10px auto 0;
    background-color: #F1C40F;
    border: none;
    border-radius: 35px;
    padding: 25px 100px;
    font-size: 1rem;
    font-weight: bold;
    width: max-content;
    display: block;
}